<div>
  <section class="bg-secondary pt-16 pb-32">
    <div class="container mx-auto px-4">
      <div class="flex flex-wrap justify-center text-center mb-24">
        <div class="w-full lg:w-6/12 px-4">
          <h2 class="font-righteous text-4xl font-semibold text-secondary-content">
            Welcome to Reciper
          </h2>
          <p class="font-mono text-lg leading-relaxed mt-4 text-secondary-content">
            Your one-stop solution for all your cooking needs. Whether you are
            looking for new recipes to try or want to manage your recipe
            collection, we've got you covered.
          </p>
        </div>
    </div>
    <div class="btn-group flex justify-center">
      <a class="btn btn-primary" routerLink="recipes">Try now!</a>
    </div>
        
    </div>
  </section>
</div>
